
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
  margin: 0;
  min-height: 200vh;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
  color: #FFF;
  font-size: 62px;
  font-family: 'Dancing Script', cursive;
}

.btn {
  background-color: #000;
  color: #FFF;
  margin: 5px;
  border: 1px solid #FFF;
}

h2 {
  margin-left: 10px;
}

h3 {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

nav {
  text-align: center;
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
}

nav ul {
  padding-top: 10px;
  margin-bottom: 0px;
}

nav ul li {
  display: inline-block;
  margin-left: 5%;
}

nav ul li a {
  color: #555;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

textarea {
  width: 100%;
  resize: horizontal;
}

.App-logo {
  position: absolute;
  bottom: 380px;
}

.sec {
	width: 50%;
	min-height: 15%;
	background-color: #FFF;
	float: left;
  clear: none;
  text-align: left;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.sec button {
  background-color: #000;
  border-color: #666;
  color: #FFF;
  margin-top: 5px;
  margin-left: 8px;
}

.sec h2, h3, p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 2px;
  max-height: 100%;
}

.sec h3 {
  margin-top: 5px;
  font-size: 14px;  
  font-weight: bold;
}

.rev {
  width: 80%;
  min-height: 15%;
  background-color: #FFF;
  float: right;
  display: block;
  clear: none;
  text-align: left;
  margin-right: 10px;
  margin-top: 10px;
  margin: 5px;
}

.rev h2, p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 2px;
  max-height: 100%;
}

.rev h3 {
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

.rev h3::before {
  content: "\""
}

.rev h3::after {
  content: "\""
}

#ri {
  width: 49%;
  float: right;
}

.conDiv {
  width: 60px;
  height: 60px;
  background-color: #e55;
  float: left;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  box-shadow: -5px 5px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  border: #000 solid 1px;
}

.conDiv:hover {
  width: 60px;
  height: 60px;
  background-color: #933;
  float: left;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  border: #000 solid 1px;
  box-shadow: -1px 1px #000;
  margin-top: 8px;
  margin-right: 8px;
  color: #FFF;
  cursor: pointer;
}

#search {
  background-color: #000;
  height: 200vh;
}

#home {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

#searchForm {
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 3px #000;
  font-size: 16px;
}

#searchField {
  width: 30%;
  height: 30%;
  margin-right: 5px;
  background-color: #000;
  color: #FFF;
  border-color: #777;
  font-style: italic;
  position: absolute;
  top: 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Dancing Script', cursive;
  font-size: 14px;
  font-style: italic;
}

#searchBtn {
  font-family: "Roboto";
  color: #FFF;
  background-color: #000;
  border-color: #777;
  font-style: italic;
  position: relative;
  margin-left: 31%;
  bottom: 0px;
}

#searchBtn:hover {
  cursor: pointer;
}

#container {
  margin-top: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #000;
}


.card-body {
  background-color: #000;
}

.card-body input {
  margin-bottom: 5px;
}

.card-body label {
  color: #FFF;
}

.card-body input::placeholder {
  font-family: "Roboto";
}

.card-header {
  background-color: #000;
  color: #FFF;
  font-family: "Dancing Script" cursive;
}

#updateBody {
  min-width: 55%;
}