body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
}

.App-logo {
  position: absolute;
  bottom: 380px;
}

.secDiv {
	width: 33%;
	height: 200px;
	background-color: #9db;
	float: left;
	display: inline-block;
	margin: 5px;
}

.conDiv {
  width: 60px;
  height: 60px;
  background-color: #e55;
  float: left;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  box-shadow: -5px 5px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  border: #000 solid 1px;
}

.conDiv:hover {
  width: 60px;
  height: 60px;
  background-color: #933;
  float: left;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  border: #000 solid 1px;
  box-shadow: -1px 1px #000;
  margin-top: 8px;
  margin-right: 8px;
  color: #FFF;
  cursor: pointer;
}

#searchForm {
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-left: 0px;
  padding-bottom: 6px;
  border-bottom: solid 3px #000;
}

#searchField {
  width: 30%;
  margin-right: 5px;
  background-color: #000;
  color: #FFF;
  border-color: #777;
  font-style: italic;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

#searchBtn {
  font-family: "Roboto";
  color: #FFF;
  background-color: #000;
  border-color: #777;
  font-style: italic;
}

#searchBtn:hover {
  cursor: pointer;
}

#container {
  width: 100%;
  height: 94vh;
  background-color: #000;
}